/*
!/.gitignore

!/etc/
/etc/*
!/etc/nginx/
!/etc/mysql/
/etc/.*

!/home/
/home/*
!/home/isucon/
/home/isucon/*
!/home/isucon/rotate.sh
!/home/isucon/webapp/
/home/isucon/webapp/*
!/home/isucon/webapp/node/
!/home/isucon/webapp/pdns/
!/home/isucon/webapp/sql/
!/home/isucon/webapp/public/

!rotate.sh
